extends layout

block content
  script(type='text/javascript',src='//code.jquery.com/jquery-1.11.1.min.js')
  script(type='text/javascript',src='/javascripts/fblogin.js')
  h1= title
  p#byline A Simple App by Sherman Adelson
  p#status Checking Facebook login...
