body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#byline
{
  font-size: 90%;
}
#wrapper
{
  font-size: 150%;
  background-color: #DDDDFF;
  padding: 30px;
}